* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lora;
    font-size: 18px;
    /* line-height acts as a multiplier of the font-size  (in this case it would be 18 * 1.5 = 27px) */
    line-height: 1.5;
    color: #ffffff;
/* by default backgroud images will tile/repeat across the 
whole background of an element, which in this case is desireable */
    background-image: url(assets/background.svg);
    /* this will make our page width fluid up until it reaches 640 px width, and then it will stop growing. this is an is way to make our websites responsive by default */
    max-width: 640px;
/* by using auto margins, our column of content is centred on the page */
    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;

}

/* these styles will get applied to any elements in our html with a class of 'image' */
.image {
    padding: 0;
}

.image img {
    height: 100%;
    width: 100%;
}

.map {
    /* this will stretch our image across the entire width of the section  */
    width: 100%;
}

/* this will grab all the paragraphs inside of our contact section */
.contact p {
    margin-top: 20px;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
    /* border can be added to element and go around the outside of the padding (but inside of the box) */
    border-bottom: solid 2px #f05d5d;
    /* this will creat 1px of space between the content and the border */
    padding-bottom: 1px;
}

blockquote {
    font-size: 32px;
    line-height: 1.2;
    /* the font-style property allows us to make our text italic */
    font-style: italic;
/*  */
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    background-color: #ffffff;
    /* padding creates space around  the outside our content and pushes the edges of the box away  */
    padding: 40px;
}

nav {
    background-color: #f05d5d;
    /* we can spacify all the padding sides in one shortand which goes in the same order as a clockface (top, right, bottom & left) */
    padding: 20px 40px 20px 40px;
}

/* this will grab only a tags inside of header tags */
nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

section {
    background-color: #5000ff;
    padding: 40px;
}

/* thes style will get applied when we hover over each nav link  */
nav a:hover {
    color: #5000ff;
    border-bottom: solid 2px #ffffff;
}

h2 {
    font-size: 32px;
/* line-height gets added in equal mesure to the top *and* the bottom of text in css, which is different from graphics programs */
    line-height: 1.2;
}

/* when our screen width is below 740px, these will be applied, which is an extremely powerful feature of css. it allows us to conditionally apply styles at certain scree widths - this is called a *media query* */
@media (max-width: 740px) {

    /* these styles will be applied to *both* the section and header */
    section, header {
        padding: 20px;
    }

    nav {
        padding: 10px 20px 10px 20px;
    }

    h2, blockquote {
        font-size: 24px;
    }

    body {
        padding-top: 0;
        font-size: 16px;
    }

    nav a {
        /* this will force our navigation links to take up all the available width and stack on top of each other (a bit like header, section and nav elements) */
        display: block;
    }
/* this will remove the border on mobile/tablet/touch devices */

    nav a:hover {
        border: none;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 22px;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 26px;
    }

    section {
        padding: 60px;
    }
}